:host {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 86%;
  height: 105vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

#container {
  width: 100%;
  height: 100%;
  z-index: 10;
  color: #575757;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  text-align: center;
  user-select: none;

  .question {
    width: 100%;
    background-color: #d8f3dc;
    border-radius: 10px;
    padding: 30px 0;
    font-size: 1.5rem;
    margin-bottom: 40px;
    margin-left: 5px;
  }

  .answer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 30px;
    width: 100%;
  }

  button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: #919191;
    color: white;
    height: auto;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.80);
    }

    &:active {
      transform: scale(0.95); // Slightly scales down the element when clicked
    }

    &.correct {
      background-color: #57CB68 !important;
      color: #fff !important;

    }

    &.wrong {
      background-color: #B94E4E !important;
      color: #fff !important;
    }

    .correct-icon {
      color: #00FF04 !important;
      font-size: 1.7rem;
      margin-left: 6px;
      background: none !important
    }

    .wrong-icon {
      color: #F10000 !important;
      font-size: 1.7rem;
      margin-left: 6px;
      background: none !important
    }

    .option-label {
      margin-right: 12px;
      text-align: left;
    }

    .answer-text {
      flex: 1;
      text-align: left;
    }
  }
}

.back-icon {
  position: absolute;
  // margin-left: 40px;
  // margin-top: 10px;
  top: 30px;
  left: 25px;
  z-index: 10;
  color: #1b1a25;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    filter: brightness(0.80);
  }

  &:active {
    transform: scale(0.95);
  }
}

.question-image {
  max-width: 400px;
  max-height: 200px;
  border-radius: 10px;
}
