<div id="wrapper">
  <div class="level-selector">
    <div class="level-buttons">
      <button [class.active]="currentLevel === 'mix'" (click)="selectLevel('mix')">Mixed</button>
      <button [class.active]="currentLevel === 'easy'" (click)="selectLevel('easy')">Easy</button>
      <button [class.active]="currentLevel === 'medium'" (click)="selectLevel('medium')">Medium</button>
      <button [class.active]="currentLevel === 'hard'" (click)="selectLevel('hard')">Hard</button>
    </div>
  </div>

  <div class="content">
    <table class="quiz-table">
      <thead>
      <tr>
        <th>Level</th>
        <th>Date Created</th>
        <th>Score</th>
        <th class="calendar" (click)="toggleDateFilter()">
          <span class="material-symbols-outlined">calendar_month</span>
        </th>
      </tr>
      </thead>
      <tbody>
        @if (noResult) {
          <tr><td colspan="4">Không có kết quả cho ngày/level này.</td></tr>
        }
        @for(attempt of quizAttempts; track attempt){
          <tr>
            <td>{{attempt.quizLevel}}</td>
            <td>{{attempt.dateDoQuiz | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{attempt.totalScore}}</td>
            <td class="show-detail" (click)="goToResult({level: attempt.quizLevel, dateCreated: attempt.dateDoQuiz})">
              <span class="material-symbols-outlined">visibility</span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if(showDateFilter){
    <div class="overlay" (click)="closeDateFilter()"></div>
    <div class="date-filter-popup" (click)="$event.stopPropagation()">
      <div class="calendar-header">
        <div class="button-background">
          <button class="nav-btn" (click)="previousMonth()">&lt;</button>
        </div>
        <span class="month-year">{{ calendarMonth | date: 'MMMM yyyy'}}</span>
        <div class="button-background">
          <button class="nav-btn" (click)="nextMonth()">&gt;</button>
        </div>
      </div>

      <div class="calendar-grid">
        @for(day of ['Mo', 'Tu', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']; track day){
          <div class="weekday">{{ day }}</div>
        }
        @for(day of calendarDays; track day.date.getTime()){
          <div class="day"
               [class.disabled]="!day.isCurrentMonth"
               [class.today]="day.isToday"
               [class.selected]="day.isSelected"
               (click)="selectDay(day)">
            @if(day.isToday){ <span class="crown">👑</span> }
            {{day.day}}
          </div>
        }
        <button class="clear-btn" (click)="closeDateFilter()">Close</button>
      </div>
    </div>
  }
</div>
