.container {
  display: flex;
  height: 700px;
  width: 1460px;
  color: white;
}

.main-content {
  width: 1200px;
  height: auto;

  .content-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    height: 550px;

    .quiz-table {
      width: 100%;
      border-collapse: collapse;
      color: black;

      .table-header {
        background-color: #e5e7eb;

        .table-cell {
          border: 1px solid #d1d5db;
          padding: 0.5rem 1rem;
          text-align: left;
          color: black;
        }
      }

      .table-row {
        border-top: 1px solid #d1d5db;

        .table-cell {
          border: 1px solid #d1d5db;
          padding: 0.5rem 1rem;
          text-align: center;

          &.text-center {
            text-align: center;
          }

          .participant-btn {
            background-color: #e2e8f0;
            color: black;
            padding: 0.5rem 1rem;
            border-radius: 9999px;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: #d1d5db;
            }
          }

          .participant-list {
            margin-top: 0.5rem;
            text-align: left;

            .participant-item {
              margin-left: 1rem;
            }

            .no-participant-text {
              font-size: 0.875rem;
              color: #6b7280;
              margin-left: 1rem;
            }
          }
        }

        .table-cell:nth-child(2) {
          text-align: left;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      .pagination-btn {
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        border: 1px solid #d1d5db;
        background-color: #f7fafc;
        cursor: pointer;

        &:hover {
          background-color: #e5e7eb;
        }

        &:disabled {
          background-color: #e5e7eb;
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      .pagination-info {
        font-size: 0.875rem;
        color: #6b7280;
      }
    }

    .no-quiz-text {
      color: #6b7280;
    }
  }

}