<div id="wrapper">
  <span class="material-symbols-outlined back-icon" (click)="goBack()">arrow_back_ios</span>
  <div id="container">
      @if (currentQuestion){
          <div class="question">
              <p>Question {{currentIndex + 1}}: {{ currentQuestion.question}}</p>
              @if(currentQuestion.image){
                  <img class="question-image" [src]="currentQuestion.image || 'assets/default.png'" alt="question image" />
              }
              
          </div>
      }
      
      <div class="answer">
      @if (currentQuestion){
          @for(option of shuffledOptions; let i = $index; track option){
              <button 
              [ngClass]="{
                  'correct': answered && option === currentQuestion.answer,
                  'wrong': answered && option === selectedOption && option !== currentQuestion.answer
              }"
              [disabled]="answered"
              (click)="selectAnswer(option)">
              <span class="option-label">{{ getOptionLabel(i)}}.  </span>
              <span class="answer-text">{{option}}</span>
              @if (answered && option === currentQuestion.answer) {
                  <span class="material-symbols-outlined correct-icon" ><b>check</b></span>
                }
                @if (answered && option === selectedOption && option !== currentQuestion.answer) {
                  <span class="material-symbols-outlined wrong-icon" ><b>close</b></span>
                }
              </button>
          }
      }
      </div>

  </div>
</div>

