<div class="home-container">
  <!-- Header -->
  <header class="header">
    <div class="logo">GoalQuiz</div>
    <div class="greeting">Xin chào, chúc bạn một ngày tốt lành!</div>
    <div class="user-info">
      <span class="username">Xin chào, {{ username }}</span>
      <span class="notification-icon">🔔</span>
      <!-- Doi theme -->
      <button class="theme-toggle-button" (click)="toggleTheme()">
        {{ isDarkMode ? '☀️ ' : '🌙 ' }}
      </button>


      <button class="logout-button" (click)="onLogout()">Đăng xuất</button>
    </div>
  </header>

  <!-- Nội dung chính -->
  <div class="main-content">
    <!-- Sidebar -->

    <aside class="sidebar" [ngClass]="{'hidden': !isSidebarVisible}">
      <button class="menu-toggle" (click)="toggleSidebar()">☰</button>
      <ul>
        <li><a [routerLink]="['/home']" class="active">🏠 Trang chủ</a></li>
        <li><a [routerLink]="['/quiz']">📝 Quiz</a></li>
        <li><a [routerLink]="['/points']">📊 Điểm cá nhân</a></li>
        <li><a [routerLink]="['/profile']">👤 Thông tin cá nhân</a></li>
        <li><a [routerLink]="['/review']">🔍 Xem lại</a></li>
        <!--        <li><a [routerLink]="['/edit-info']">✏️</a></li>-->
      </ul>
    </aside>

    <!-- Nội dung -->
    <section class="content">
      <div class="content-row" *ngIf="!isLoading; else loadingTemplate">
        <!-- Card minh họa -->
        <div class="illustration-card">
          <img src="assets/illustrationPiictureHome.png" alt="Minh họa Quiz" loading="lazy" />
          <p>QUIZ BÓNG ĐÁ</p>
        </div>

        <!-- Card biểu đồ - Chỉ render trên client -->
        <div class="chart-card" *ngIf="isBrowser">
          <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  type="bar">
          </canvas>
        </div>
      </div>

      <!-- Card lịch -->
      <div class="calendar-card">
        <div class="calendar-header">
          <button class="nav-button" (click)="prevMonth()">←</button>
          <h3>{{ currentMonth }}</h3>
          <button class="nav-button" (click)="nextMonth()">→</button>
        </div>
        <div class="calendar-grid">
          <div
            *ngFor="let day of daysInMonth"
            class="calendar-day"
            [ngClass]="{
            'highlighted': highlightedDays.includes(day),
            'today': isToday(day)
             }"
            >
            <!-- Chỉ hiển thị nếu day không phải là 0 -->
            {{ day !== 0 ? day : '' }}
          </div>
        </div>
      </div>

    </section>
  </div>

  <!-- Template loading -->
  <ng-template #loadingTemplate>
    <div class="loading">Đang tải dữ liệu...</div>
  </ng-template>
</div>
