<div class="home-container">
  <!-- Nội dung desktop -->
  <div class="main-content">
    <section class="content">
      <div class="content-row" *ngIf="!isLoading; else loadingTemplate">
        <!-- Card minh họa -->
        <div class="illustration-card">
          <img src="assets/illustrationPiictureHome.png" alt="Minh họa Quiz" loading="lazy" />
          <p>QUIZ BÓNG ĐÁ</p>
        </div>

        <!-- Card biểu đồ -->
        <div class="chart-card" *ngIf="isBrowser">
          <h3>Top 4 Người Chơi</h3>
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            type="bar"
          ></canvas>
        </div>
      </div>

      <!-- Card lịch -->
      <div class="calendar-card">
        <div class="calendar-header">
          <button class="nav-button" (click)="prevMonth()">←</button>
          <h3>{{ currentMonth }}</h3>
          <button class="nav-button" (click)="nextMonth()">→</button>
        </div>
        <div class="calendar-grid">
          <div
            *ngFor="let day of daysInMonth"
            class="calendar-day"
            [ngClass]="{
              'highlighted': highlightedDays.includes(day),
              'today': isToday(day)
            }"
          >
            {{ day !== 0 ? day : '' }}
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Nội dung mobile -->
  <div class="main-content-mobile">
    <!-- Thông tin user -->
    <div class="user-info-card">
      <div class="avt_user">
        <img src="assets/admin.jpg" alt="User Avatar" />
      </div>
      <span class="username">{{ username }}</span>
    </div>

    <!-- Các chức năng phổ biến -->
    <div class="features-section">
      <h3>Common Features</h3>
      <div class="features-row">
        <div class="feature-card">
          <div class="feature-box">
            <span class="material-icons">person</span>
          </div>
          <p>Personal Points</p>
        </div>
        <div class="feature-card">
          <div class="feature-box">
            <span class="material-icons">emoji_events</span>
          </div>
          <p>Rankings</p>
        </div>
      </div>
    </div>


    <!-- Thử gần nhất -->
    <div class="recent-attempts">
      <h3>Most Recent Attempts</h3>
      <div *ngIf="recentAttempts.length === 0" class="no-attempts">
        Chưa có bài quiz nào được thực hiện.
      </div>
      <div *ngFor="let attempt of recentAttempts" class="attempt">
        <span>Level: {{ attempt.quizLevel }}</span>
        <span class="info-center">Điểm: {{ attempt.totalScore }}</span>
        <div class="timeDoQuiz">
          {{ formatDate(attempt.dateDoQuiz) }}
        </div>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <ng-template #loadingTemplate>
    <div class="loading">Đang tải dữ liệu...</div>
  </ng-template>
</div>


