<div class="auth-container" [ngClass]="{'sign-up-active': !isSignIn, 'sign-in-active': isSignIn}">
  <div class="container">
    <div class="form-container">
      <!-- Form Login -->
      <div class="login-form">
        <div class="login-container">
          <div class="login-header">
            <img src="assets/ball3.png" alt="Soccer Ball" class="ball_img">
            <h2>Hello!</h2>
            <p class="textLogin">Please sign in to your account.</p>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="onLogin($event, loginForm)">
            <div class="form-group">
              <label class="email">Sign in with Email</label>
              <input
                type="text"
                class="email"
                name="email"
                [(ngModel)]="email"
                required
                #usernameInput="ngModel"
                placeholder="Enter your email"
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="password"
                name="password"
                [(ngModel)]="password"
                required
                #passwordInput="ngModel"
                placeholder="Enter your password"
              />
            </div>

            <div class="remember-me">
              <input type="checkbox" id="remember" name="remember" [(ngModel)]="rememberMe">
              <label for="remember">Remember me</label>
            </div>
            <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
          </form>
          <!-- Thay đổi màu sắc của nút va spinner"Sign Up" -->
          <div class="message-container" *ngIf="message">
            <p
              [ngClass]="{
           'success': isSuccess === true,
           'error': isSuccess === false
            }">
              {{ message }}
            </p>
          </div>
          <p class="textLogin">
            Don't have an account? <a href="#" (click)="toggleForm($event)">Sign Up</a>
          </p>
        </div>

      </div>

      <!-- Form Register -->
      <div class="register-form">
        <div class="register-container">
          <div class="register-header">
            <img src="assets/ball3.png" alt="Soccer Ball" class="ball_img">
            <h2>Hello!</h2>
            <p>Create your account!</p>
          </div>
          <form #registerForm="ngForm" (ngSubmit)="onRegister($event, registerForm)">
            <div class="form-group-register">
              <label class="password">Sign Up</label>
              <input
                type="text"
                class="username"
                name="username"
                [(ngModel)]="username"
                required
                #usernameInput="ngModel"
                placeholder="Enter your username"
              />
            </div>

            <div class="form-group-register">
              <input
                type="email"
                class="email"
                name="email"
                [(ngModel)]="email"
                required
                #emailInput="ngModel"
                placeholder="Enter your email"
              />
            </div>

            <div class="form-group-register">
              <input
                type="password"
                class="password"
                name="password"
                [(ngModel)]="password"
                required
                #passwordInput="ngModel"
                placeholder="Enter your password"
              />
            </div>

            <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
          </form>

          <div class="message-container" *ngIf="message">
            <p
              [ngClass]="{
           'success': isSuccess === true,
           'error': isSuccess === false
            }">
              {{ message }}
            </p>
          </div>
          <p>
            Already have an account? <a href="#" (click)="toggleForm($event)">Sign In</a>
          </p>
        </div>
      </div>
    </div>

    <div class="image-container"></div> <!-- Hình ảnh bên phải va trai-->

    <div class="overlay" *ngIf="showSpinner">
      <div class="spinner" *ngIf="showSpinner"></div>
    </div>
  </div>
</div>