<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="assets/logo.png" />
    </div>
    <ul class="sidebar-menu">
      <li class="sidebar-item">
        <a [routerLink]="['/home']">🏠 Home </a>
      </li>
      <li class="sidebar-item">
        <a [routerLink]="['/quiz-edit-admin']">🏠 Edit quiz </a>
      </li>
      <li class="sidebar-item">
        <a [routerLink]="['/quiz-history-admin']" routerLinkActive="active"
          >📝 Quiz hisory
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="content-top">
      <div class="header-left">
        <div class="user-info">
          <img src="./assets/admin.jpg" alt="User" class="rounded-full" />
          <span>ADMIN</span>
        </div>
      </div>
      <div class="header-right">
        <button class="date-btn">
          <span>1 May</span>
        </button>
        <input type="text" placeholder="Search" class="search-bar" />
        <button class="notification-btn">
          <span class="relative">
            <i class="fas fa-bell"></i>
            <span class="notification-count">1</span>
          </span>
        </button>
      </div>
    </div>

    <div class="content-bot">
      <!-- bo code m o day nha Tuan-->
      <!-- o tren la slide bar voi header -->
    </div>
  </div>
</div>
